@font-face {
    font-family: 'THSarabunNew';
    src: url('./fonts/THSarabunNew.ttf') format('truetype');
  }
  
  body {
    font-family: 'THSarabunNew', sans-serif;
  }
.table-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
  }
  
  .table-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    align-self: flex-start;
    /* background-color: aqua; */
  }
  
  .table-title {
    font-size: 26px;
    text-align: center;
    font-family: 'THSarabunNew', sans-serif;
  }
  
  /* Media queries for responsiveness */
  @media (min-width: 768px) {
    .table-container {
      flex-direction: row;
      justify-content: space-around;
    }
  
    .table-section {
      width: 45%;
    }
  }
  
  /* Additional styles for small screens */
  @media (max-width: 767px) {
    .table-section {
      width: 90%;
    }
  
    .table-title {
      font-size: 26px;
      font-family: 'THSarabunNew', sans-serif;
    }
  }