@font-face {
  font-family: 'THSarabunNew';
  src: url('./fonts/THSarabunNew.ttf') format('truetype');
}

body {
  font-family: 'THSarabunNew', sans-serif;
}

.dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    /*flex: 0 0 200px; /* adjust width as needed */
    width: 300px;
    background: #343434; /* dark shade for sidebar */
    color: #ecf0f1; /* light text color for contrast */
    padding: 20px;
  }
  
  .head-sidebar{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li a {
    color: #ecf0f1;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 4px;
    transition: background 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    background: #a39e9ef8; /* slightly lighter shade for hover */
  }
  
  .main-content {
    flex: 1; /* takes up the remaining width */
    padding-left: 40px;
    width: 100%;
    background: #D3D3D3; /* light background for content */
    overflow-y: auto; /* allows scrolling */
    font-family: 'THSarabunNew', sans-serif;
    transition: margin-left 0.3s ease-in-out;
  }

  .main-content h1 {
    font-size: 56px;
    font-weight: bold;
    font-family: 'THSarabunNew', sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .chart-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  
  .chart-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.766);
    width: 48%;
    font-size: 24px;
    font-family: 'THSarabunNew', sans-serif;
    margin-bottom: 20px;
  }
  
  .logout-button {
    margin-top: auto;
    margin-bottom: 20px;
    
  }
  
  .logout-button button {
    width: 80%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #601616;
    color: #fff;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button button:hover {
    background-color: #60161699;
  }
  /* Additional styling for charts, lists, buttons, etc. */
  
  /* ... */

  @media (min-width: 768px) {
    .layout {
      flex-direction: row;
    }
  
    .sidebar {
      width: 300px;
    }
  
    .main-content {
      padding: 40px;
    }
  }
  
  @media (max-width: 767px) {
    .layout {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
    }
  
    .sidebar.closed {
      display: none;
    }
  
    .sidebar-content {
      height: auto;
      padding: 10px;
      overflow-y: auto;
    }
  
    .sidebar-content h1 {
      font-size: 20px;
    }
  
    .sidebar-content p {
      font-size: 14px;
    }
  
    .main-content {
      padding: 40px;
    }
  
    .toggle-button {
      width: 100%;
    }

    .chart-container {
      width: 100%; /* Make charts full width on small screens */
    }
  }
  