.main{
    display: flex;
    /* height: 100%; */
    justify-content: center;
    flex-direction: column;
}
.main-contain{
    display: flex;
    align-self: center;
    background-color: rgba(247, 247, 247, 0.956);
    width: 1100px;
    height: 100vh;
    max-height: 100%;
    max-width: 95%;
    border-width: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-direction: column;
    
}

.header-page{
  padding-left: 20px;
}

.search-field{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}
.search-button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}
.Add-button{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    align-self: self-end;
    margin-right: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    color: aliceblue;
    background-color: rgb(36, 136, 244);
}
.Edit-button{
    background-color: rgb(255, 220, 19);
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    width: 120;
   
}   
.Delete-button{
    background-color: crimson;
    border-radius: 5px;
    margin-left: 5px;
    width: 120;
    
}

@media (max-width: 767px) {
    .main-content {
      /* padding: 10px; */
      padding-left: 40px;
      
    }
  
    .main-contain {
      padding: 10px;
      width: 100%; /* Ensure it uses full width on very small screens */
      height: auto;
      /* overflow-y: scroll; */
    }
  
    .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .block_img img {
      width: 100%;
      max-width: 150px;
      height: auto;
    }
  
    .Add-button,
    .Edit-button,
    .Delete-button {
     
      padding: 10px;
      margin: 10px 0;
    }
  
    button {
      max-width: 100%;
    }
  
    .main-contain div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .main-contain div div {
      flex-direction: column;
      width: 100%;
      height: auto;
      /* overflow-y: scroll; */
    }

    .form-field {
      width: 100% !important;
      margin-bottom: 10px;
    }
  
    .form-row {
      flex-direction: column;
      align-items: flex-start;
    }
  }